/* CSS Document */
/* main theme design ao the app */
#step-1,#step-2,#step-3{
	background-color:#9C6;
	padding:20px;
	border:1px solid black;
	cursor:default;
	border-radius:5px;
	}

#glove-view{
	background-color:#CCC;
	}
#option-content{
	background-color:#9CC;
	}
#content{}
#main{
	background: #b4e391;
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjYjRlMzkxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjNjFjNDE5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
background: -moz-linear-gradient(45deg, #b4e391 0%, #61c419 50%, #b4e391 100%);
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#b4e391), color-stop(50%,#61c419), color-stop(100%,#b4e391));
background: -webkit-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%);
background: -o-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%);
background: -ms-linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%);
background: linear-gradient(45deg, #b4e391 0%,#61c419 50%,#b4e391 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 );
	}
/* JQuery manipulated things volatile themes tha changes with clicks and option slection */
/*
*
options panel handling
*
*/
#step1-options,#step2-options,#step3-options{
	overflow:scroll;
	height:550px;
	text-align:left;}
#step1-options{
	display:block;}
#step2-options{
	display:none;}
#step3-options{
	display:none;}
#step-1{
	background-color: #9C0;}
#step-2{}
#step-3{}
