/*--
	Author: QasimNadeem
	Author URL: ##########################
	License: #############################
	License URL: #########################
--*/
@font-face{
	font-family: junction_regular;
	src: url('../fonts/Junction-regular.otf');
}
@font-face{
	font-family: junction_light;
	src: url('../fonts/Junction-light.otf');
}
body{
	background-image: url('../imgs/header_bg.png');
	background-repeat: repeat;
}
a:hover{
	text-decoration: none;
}
hr.hrstyle{
	border-top: 3px double #8c8b8b;
}
hr.hrstyle1{
	border-top: 3px double #8c8b8b;
}
#Header{
	width: 100%;
	padding-right: 70px;
	background-image: url('../imgs/header_bg.png');
	background-repeat: repeat;
}
#DivLogo,#DivLogoLeft,#DivLogoRight{
	padding-bottom: 70px;
	font-family: junction_regular;
}
#DivLogo{
	margin-top: 30px;
}
#DivLogoLeft{
	padding-bottom: 50px;
}
#DivLogoLeft,#DivLogoRight{
	padding: 10px;
}
#DivLogoRight{
	text-align: right;
}
#social-fb img, #social-insta img, #social-twitter img{
	float: right;
	margin-top: 25px;
	margin-bottom: 25px;
	margin-right: 0px;
	padding: 5px;
	-webkit-transition:-webkit-transform 0.5s; /* Safari */
    transition: transform 0.5s;
}
#social-fb img:hover{
	transform: rotate(360deg);
}
#social-insta img:hover{
	transform: rotate(360deg);
}
#social-twitter img:hover{
	transform: rotate(360deg);
}
#_Body{}
#BgRed{
	background-image: url('../imgs/body_bg.png');
	background-repeat: repeat;
	width: 100%;
	padding-bottom: 43%;
}
#Slider{
	background-color: #eae3e3;
	width: 80%;
	/*height: 550px;*/
	position: absolute;
	margin-top: -50px;
	margin-left: 10%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 1px 1px 5px;
}
#BgWhite{
	background-image: url('../imgs/header_bg.png');
	background-repeat: repeat;
	width: 100%;
	height: auto;
}
#about{
	font-family: junction_light;
	font-size: 17px;
	word-spacing: 5px;
	text-align: justify;
}
#about h3{
	color: #b20e0e;
}
#about img{
	border-radius: 10px;
	box-shadow: 1px 1px 5px;
	margin-left: 10px;
	margin-bottom: 10px;
}
#NewArival{
	background-color: none;
	width: 80%;
	height: 50%;
	margin-left: 10%;
	padding: 20px;
}
#Gift,#Lunch{
	background-color: white;
	margin-top: 10px;
	border: 20px solid #eae3e3;
	border-radius: 5px;
	box-shadow: 1px 1px 5px;
}
.NewArivalContent{
	width: 200px;
}
.NewArivalContent h3{
	color: #b20e0e;
}
#Gift{
	/*background-image: url('../imgs/subscribe.png');*/
	background-repeat: no-repeat;
	height: 300px;
	margin-top: 10px;
}
#Lunch{
	/*background-image: url('../imgs/salad.jpg');*/
	background-repeat: no-repeat;
	height: 300px;
	margin-top: 10px;
}
.btn-OrderNow{
	height: 50px;
	width: 150px;
	color: white;
	font-weight: bolder;
	background-color: #b20e0e;
	padding-top: 15px;
	padding-left: 30px;
	cursor: pointer;
	margin: 10% auto;
}
.btn-OrderNow1{
	height: 50px;
	width: 150px;
	color: white;
	font-weight: bolder;
	background-color: #b20e0e;
	padding-top: 15px;
	cursor: pointer;
	text-align: center;
	margin: 0 auto;
	margin-top: 15%;
}
.btn-OrderNow:hover{
	background-color: #ce4444;
}
.btn-OrderNow1:hover{
	background-color: #ce4444;
}
#Deal1,#Deal2,#Deal3{
	border: 15px solid #eae3e3;
	border-radius: 5px;
	height: 200px;
	box-shadow: 1px 1px 5px;
}
.Deals{
	background-color: none;
	width: 80%;
	height: 35%;
	margin-left: 7%;
	padding: 30px;
	text-align: center;
	font-family: junction_light;
}
.Deals p{
	width: 100%;
	height: 20%;
	margin-bottom: 10%;
}
#Deal1{
	background-image: url('../imgs/breakfast.jpg');
	background-size: cover;
}
#Deal2{
	background-image: url('../imgs/lunch.jpg');
	background-size: cover;
}
#Deal3{
	background-image: url('../imgs/dinner.jpg');
	background-size: cover;
}
.Deals h5{
	color: #b20e0e;
	font-weight: bolder;
}
#ContactUs{
	background-color: none;
	width: 80%;
	height: 250px;
	margin-left: 10%;
	padding: 20px;
}
#Map{
	background-color: #eae3e3;
	height: 500px;
	margin-left: 30px;
	border-radius: 20px;
	box-shadow: 1px 1px 5px;
}
#map {
        height: 500px;
        width: 100%;
        border: 20px solid #eae3e3;

}
#navigation{
	margin-top: 20px;
}
#navigation ul li{
	list-style: none;
	color: white;
	width: 150px;
	background-color: #b20e0e;
	text-align: center;
	padding: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-left: auto;
	border-radius: 10px;
	text-decoration: none;
}
#navigation ul li:hover{
	font-size: 15px;
	font-weight: bolder;
	cursor: pointer;
}
#navigation ul a:hover{
	text-decoration: none;
}
#Contact ul li{
	list-style: none;
}
@media only screen and (max-width : 320px) {
	/* Styles */

}


/* reset */
/*
html, body{
    font-size: 100%;
	font-family: 'Montserrat', sans-serif;
	background:url(../images/bg2.jpeg) no-repeat 0px 0px;
	background-size:cover;
	background-attachment:fixed;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	-ms-background-size:cover;
}
body {
		padding-bottom:30px;
}
#heading{
  background-color: white;
  color: black;
  margin: 20px;
  padding: 50px;
}
.post{
  background-color: white;
  color: black;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
}
*/
/* responsive design */